@import '../base/variebles';

html, body {
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    background: #FCFCFD;
    scroll-behavior: smooth;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    margin: 0 auto;
    width: 1118px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;  
    }
}

button {
    &:focus {
        outline: none;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}