.footer {
    font-family: 'Poppins';
    padding: 80px 0 32px;
    color: $main-color;
    &__wrapper {
        margin-bottom: 32px;
        padding-bottom: 48px;
        border-bottom: 1px solid #E6E8EC;
        display: flex;
        column-gap: 128px;
    }
    &__logo {
        max-width: 206px;
    }
    &__title {      
        margin-top: 32px;  
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: -0.01em;
    }
    &__text {
        display: flex;
        column-gap: 124px;
    }
    &__links {
        display: flex;
        column-gap: 89px;
        &-item {
            max-width: 150px;
        }
    }
    &__name {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
    }
    &__link {
        margin-bottom: 24px;
        display: inline-block;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 114%;
        color: $light-color;
        &:hover {
            color: $light-color;
        }
    }
    &__descr {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
    &__input {
        padding: 14px 58px 14px 16px;
        width: 352px;
        height: 48px;
        border-radius: 90px;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        background: url(../icons/arrow__right_blue.svg) no-repeat;
        background-position: 310px;
        border: 2px solid #E6E8EC;
        color: $light-color;
    }
    &__info {
        display: flex;
        justify-content: space-between;
    }
    &__copyright {
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        color: $light-color;
    }
    &__cookies {
        display: flex;
        column-gap: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
    }
    &__accept {
        font-weight: 600;
        font-size: 12px;
        line-height: 167%;
        color: $blue;
        &:hover {
            color: $blue;
        }
    }
}




.footer__form {
}
.footer__descr {
}
.footer__input {
}
.footer__info {
}
.footer__copyright {
}
.footer__cookies {
}
.footer__accept {
}