@media (max-width: 1024px) {
    .container {
        margin: 0 auto;
        width: 862px;
        overflow: hidden;
    }
    .header {
        &__menu {
            display: none;
        }
    }
    .start {
        padding-top: 112px;
    }
    .promo {
        padding: 112px 0;
        &__wrapper {
            column-gap: 32px;
        }
        &__title {
            display: none;
            &_hide {
                margin-bottom: 20px;
                display: block;
            }
        }
        &__people {
            justify-content: start;
            column-gap: 50px;
        }
        &__total {
            width: 302px;
            height: 296px;
        }
        &__btn {
            width: 302px;
        }
        .total {
            &__price {
                font-size: 42px;
            }
        }
    }
    .store {
        &__wrapper {
            flex-wrap: wrap;
            row-gap: 64px;
        }
        &__library {
            &::before {
                display: none;
            }
        }
    }
    .creators {
        padding-bottom: 80px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        &__item {
            border: none;
        }
        &__btn {
            display: none;
        }
    }
}



@media (max-width: 576px) {
    .container {
        padding: 0;
        width: 100%;
        overflow: hidden;
    }
    .header {
        &__wrapper {
            display: none;
        }
        &__burger {
            padding: 58px 0 34px;
            // margin-top: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .start {
        padding-top: 64px; 
        &__title {
            font-size: 32px;
            line-height: 125%;
        }
    }
    .promo {
        padding: 112px 15px;
        &__wrapper {
            flex-direction: column;
            column-gap: 0;
            row-gap: 32px;
            justify-content: center;
            align-items: center;
        }
        &__video img {
            max-width: 100%;
        }
        &__info {
            max-width: 100%;
        }
        &__people {
            justify-content: flex-start;
            column-gap: 33px;
        }
        &__title {
            display: none;
            &_hide {
                margin-bottom: 20px;
                max-width: 304px;
                display: block;
            }
        }
        &__total {
            margin: 0 auto 40px;
            width: 100%;
            height: auto;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 8px;
        }
        &__btn {
            width: 100%;
        }
    }
}

@media (max-width: 420px)  {
    .start {
        &__title {
            font-size: 30px;
        }
    }
    .promo {
        &__people {
            justify-content: space-between;
        }
        &__total {
            width: 100%;
        }
    }
}
